@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    padding: 0px;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
  /* background-color: rgb(6, 18, 18);   */
  /* background-color:hsl(236, 33%, 92%); */
}